/* DOCUMENT */
#document button {
    background-color: rgb(110, 150, 190);
    border: none;
    outline: none;
}

[for='recpass']{
    margin-top: 10px;
    color: rgb(110, 150, 190);
    border-bottom: solid 1px rgb(110, 150, 190);
    float: right;
}

#document button:hover {
    background-color: #959595;
    border-color: #959595;
    transition-duration: 0.2s;
}

#document a {
    outline: none;
}

#document a:hover {
    text-decoration: none;
}

#document a:link {
    text-decoration: none;
}

/* HEADER */
.header-img{
    max-width: 205px;
}

.brand-img{
    padding: 0 !important;
}

.headerTop .btn {
    width: 150px;
    height: 50px;
    margin-top: 10%;

}

.headerTop .btnSm {
    width: 180px;
    height: 60px;
    margin-top: 20%;
}

.headerTop p {
    padding-right: 0;
    font-size: 0.8em;
    margin-bottom: 0;
    margin-top: 5px;
    text-align: right;
}

.navigation p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.navigation a {
    text-align: center;
    border: solid 1px #CCCCCC;
    outline: none;
}

.navigation a:hover {
    background-color: #CCCCCC;
}

.signIn {
    border-bottom: solid 1px #CCC;
    border-top: solid 1px #CCC;
    height: 35px;
}

.signIn p {

    margin-top: 5px;
    margin-left: 5px;
    overflow: hidden;
}

/* CONTENT */
.content {
    margin-bottom: 50px;
}

.content h1 {
    margin-top: 40px;
    text-align: center;
    margin-bottom: 40px;
}

.inputBox {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 15px;
}

.inputBox input {
    margin-bottom: 5px;
}

.inputBox h2 {
    margin-bottom: 20px;
}

.inputLg input {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 300px;
    height: 35px;
}

.inputSm input {
    width: 600px;
    height: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.inputBtnLg button {
    margin-top: 15px;
    width: 300px;
    height: 50px;
}

.inputBtnSm button {
    margin-top: 15px;
    width: 600px;
    height: 100px;
}

.inputBox button p {
    margin: auto;
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: 500;
}

/* FOOTER */
.footer {
    border-top: solid 1px #CCC;
    padding-top: 20px;
}

.footerLg p {
    margin: 5px;
    font-size: 0.7em;
    vertical-align: middle;
}

.footerLgText {
    margin-top: -10px;
}

.footerSm {
    width: 100%;
}

.as-sortable-item,
.as-sortable-placeholder {
    display: table-row !important;
}

#sessionSettings {
    margin-left: 30px;
}

.formControllingButt {
    border-radius: 4px;
}

.myTextInfo {
    width: 10%;
    margin-top: 4px;
    margin-bottom: 4px;
}

.wrapField {
    width: 100%;
}
.cssload-thecube {
    width: 73px;
    height: 73px;
    margin: 0 auto;
    margin-top: 49px;
    position: relative;
    transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
}

.cssload-thecube .cssload-cube {
    position: relative;
    transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
}

.cssload-thecube .cssload-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
}

.cssload-thecube .cssload-cube:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(43, 160, 199);
    animation: cssload-fold-thecube 2.76s infinite linear both;
    -o-animation: cssload-fold-thecube 2.76s infinite linear both;
    -ms-animation: cssload-fold-thecube 2.76s infinite linear both;
    -webkit-animation: cssload-fold-thecube 2.76s infinite linear both;
    -moz-animation: cssload-fold-thecube 2.76s infinite linear both;
    transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
}

.cssload-thecube .cssload-c2 {
    transform: scale(1.1) rotateZ(90deg);
    -o-transform: scale(1.1) rotateZ(90deg);
    -ms-transform: scale(1.1) rotateZ(90deg);
    -webkit-transform: scale(1.1) rotateZ(90deg);
    -moz-transform: scale(1.1) rotateZ(90deg);
}

.cssload-thecube .cssload-c3 {
    transform: scale(1.1) rotateZ(180deg);
    -o-transform: scale(1.1) rotateZ(180deg);
    -ms-transform: scale(1.1) rotateZ(180deg);
    -webkit-transform: scale(1.1) rotateZ(180deg);
    -moz-transform: scale(1.1) rotateZ(180deg);
}

.cssload-thecube .cssload-c4 {
    transform: scale(1.1) rotateZ(270deg);
    -o-transform: scale(1.1) rotateZ(270deg);
    -ms-transform: scale(1.1) rotateZ(270deg);
    -webkit-transform: scale(1.1) rotateZ(270deg);
    -moz-transform: scale(1.1) rotateZ(270deg);
}

.cssload-thecube .cssload-c2:before {
    animation-delay: 0.35s;
    -o-animation-delay: 0.35s;
    -ms-animation-delay: 0.35s;
    -webkit-animation-delay: 0.35s;
    -moz-animation-delay: 0.35s;
}

.cssload-thecube .cssload-c3:before {
    animation-delay: 0.69s;
    -o-animation-delay: 0.69s;
    -ms-animation-delay: 0.69s;
    -webkit-animation-delay: 0.69s;
    -moz-animation-delay: 0.69s;
}

.cssload-thecube .cssload-c4:before {
    animation-delay: 1.04s;
    -o-animation-delay: 1.04s;
    -ms-animation-delay: 1.04s;
    -webkit-animation-delay: 1.04s;
    -moz-animation-delay: 1.04s;
}

@keyframes cssload-fold-thecube {
    0%, 10% {
        transform: perspective(136px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        transform: perspective(136px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        transform: perspective(136px) rotateY(180deg);
        opacity: 0;
    }
}

@-o-keyframes cssload-fold-thecube {
    0%, 10% {
        -o-transform: perspective(136px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -o-transform: perspective(136px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -o-transform: perspective(136px) rotateY(180deg);
        opacity: 0;
    }
}

@-ms-keyframes cssload-fold-thecube {
    0%, 10% {
        -ms-transform: perspective(136px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -ms-transform: perspective(136px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -ms-transform: perspective(136px) rotateY(180deg);
        opacity: 0;
    }
}

@-webkit-keyframes cssload-fold-thecube {
    0%, 10% {
        -webkit-transform: perspective(136px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -webkit-transform: perspective(136px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -webkit-transform: perspective(136px) rotateY(180deg);
        opacity: 0;
    }
}

@-moz-keyframes cssload-fold-thecube {
    0%, 10% {
        -moz-transform: perspective(136px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -moz-transform: perspective(136px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -moz-transform: perspective(136px) rotateY(180deg);
        opacity: 0;
    }
}

.cssload-thecube {
    display: none;
}

#tableUsers {
    display: table
}

#pagination {
    display: block
}

.as-sortable-item,
.as-sortable-placeholder {
    display: table-row !important;
}

#sessionSettings {
    margin-left: 30px;
}

.formControllingButt {
    border-radius: 4px;
}

.myTextInfo {
    width: 10%;
    margin-top: 4px;
    margin-bottom: 4px;
}

.wrapField {
    width: 100%;
}

.mdl-textfield__input{
    autocompleate: off;
}