/* DOCUMENT */
#document button {
	background-color: rgb(110,150,190);
	border: none;
	border-radius: 0px;
	outline: none;
}
#document button:hover {
	background-color: #CCC;
	border-color: #CCC;
	transition-duration: 0.2s;
}
#document a {
	outline: none;	
}
#document a:hover {
	text-decoration: none;
}
#document a:link {
	text-decoration: none;
}


/* HEADER */

.headerTop .btn {
	width: 150px;
	height: 50px;
	margin-top: 10%;
	
}
.headerTop .btnSm {
	width: 180px;
	height: 60px;
	margin-top: 20%;
}
.headerTop p {
	padding-right: 0;
	font-size: 0.8em;
	margin-bottom: 0;
	margin-top: 5px;
	text-align: right;
}
.navigation p {
	margin-top: 10px;
	margin-bottom: 10px;
}
.navigation a {
	text-align: center;
	border: solid 1px #CCCCCC;
	outline: none;
}
.navigation a:hover {
	background-color: #CCCCCC;
}
.signIn  {
	border-bottom: solid 1px #CCC;
	border-top: solid 1px #CCC;
	height: 35px;
}
.signIn p {
	
	margin-top: 5px;
	margin-left: 5px;
	overflow: hiden;
}
/* CONTENT */
.content {
	margin-bottom: 50px;	
}

.content h1 {
	margin-top: 40px;
	text-align: center;
	margin-bottom: 40px;
}
.inputBox {
	text-align: center;	
	margin-top: 40px;
}
.inputBox h2 {
	margin-bottom: 20px;
}
.inputLg input {
	margin-top: 5px;
	margin-bottom: 5px;	
	width: 300px;
	height: 35px;
}
.inputSm input {
	width: 600px;
	height: 70px;
	margin-top: 10px;
	margin-bottom: 10px;	
}
.inputBtnLg button {
	margin-top: 15px;
	width: 300px;
	height: 50px;	
}
.inputBtnSm button {
	margin-top: 15px;
	width: 600px;
	height: 100px;	
}
.inputBox button p {
	margin: auto;
	text-transform: uppercase;
	font-size: 1.3em;	
	font-weight: 500;
}

/* FOOTER */
.footer {
	border-top: solid 1px #CCC;	
	padding-top: 20px;
}

.footerLg p {
	margin: 5px;
	font-size: 0.7em;
	vertical-align: middle;	
}
.footerLgText {
	margin-top: -10px;	
}
