<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns="http://www.springframework.org/schema/security"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security.xsd">

    <global-method-security pre-post-annotations="enabled"/>
    <beans:bean id="feedbackPermissions" name="feedbackPermissions"
                class="ua.nc.security.FeedbackPermissions">
    </beans:bean>

    <http use-expressions="true" >
        <csrf disabled="true"/>
        <intercept-url pattern="/error" access="permitAll"/>
        <intercept-url pattern="/login**" access="permitAll" />
        <intercept-url pattern="/" access="permitAll" />


        <intercept-url pattern="/admin/create**" access="hasRole('ROLE_ADMIN')"/>
        <intercept-url pattern="/admin/users**" access="hasRole('ROLE_ADMIN')"/>
        <intercept-url pattern="/admin/edit-form**" access="hasRole('ROLE_ADMIN')"/>


        <intercept-url pattern="/admin**" access="hasAnyRole('ROLE_ADMIN','ROLE_HR')"/>
        <intercept-url pattern="/admin/**" access="hasAnyRole('ROLE_ADMIN','ROLE_HR')"/>
        <intercept-url pattern="/admin/scheduler**" access="hasAnyRole('ROLE_ADMIN','ROLE_HR')"/>
        <intercept-url pattern="/admin/cessettings**" access="hasAnyRole('ROLE_ADMIN','ROLE_HR')"/>
        <intercept-url pattern="/admin/students**" access="hasAnyRole('ROLE_ADMIN','ROLE_HR')"/>
        <intercept-url pattern="/admin/interviewee**" access="hasAnyRole('ROLE_ADMIN','ROLE_HR')"/>
        <intercept-url pattern="/admin/interviewers**" access="hasAnyRole('ROLE_ADMIN','ROLE_HR')"/>
        <intercept-url pattern="/admin/mail-template**" access="hasAnyRole('ROLE_ADMIN','ROLE_HR')"/>
        <intercept-url pattern="/admin/enroll-session**" access="hasAnyRole('ROLE_ADMIN','ROLE_HR')"/>
        <intercept-url pattern="/admin/report**" access="hasAnyRole('ROLE_ADMIN','ROLE_HR')"/>
        <intercept-url pattern="/report**" access="hasAnyRole('ROLE_ADMIN','ROLE_HR')"/>
        <intercept-url pattern="/report/**" access="hasAnyRole('ROLE_ADMIN','ROLE_HR')"/>
        <intercept-url pattern="/reports**" access="hasAnyRole('ROLE_ADMIN','ROLE_HR')"/>
        <intercept-url pattern="/reports/**" access="hasAnyRole('ROLE_ADMIN','ROLE_HR')"/>
<!--        <intercept-url pattern="/interviewer/feedback**" access="@feedbackPermissions.isInterviewingPeriod()"/>
        <intercept-url pattern="/interviewer/feedback/**" access="@feedbackPermissions.isInterviewingPeriod()"/>-->


        <intercept-url pattern="/interviewer**" access="hasAnyRole('ROLE_HR','ROLE_DEV','ROLE_BA')"/>
        <intercept-url pattern="/interviewer/**" access="hasAnyRole('ROLE_HR','ROLE_DEV','ROLE_BA')"/>
        <intercept-url pattern="/profile**"
                       access="hasAnyRole('ROLE_ADMIN','ROLE_HR','ROLE_DEV','ROLE_BA','ROLE_STUDENT')"/>
        <intercept-url pattern="/profile/**"
                       access="hasAnyRole('ROLE_ADMIN','ROLE_HR','ROLE_DEV','ROLE_BA','ROLE_STUDENT')"/>
        <intercept-url pattern="/account**"
                       access="isAuthenticated()"/>
        <intercept-url pattern="/account/**"
                       access="isAuthenticated()"/>


        <access-denied-handler error-page="/403"/>

        <form-login  login-page="/login#cta"
                    authentication-failure-url="/login?error" />
             <!--       authentication-success-handler-ref="myAuthenticationSuccessHandler"-->

        <logout logout-url="/logout" logout-success-url="/login?logout"
                invalidate-session="true"/>
    </http>

<!--
    <beans:bean id="myAuthenticationSuccessHandler"
                class="ua.nc.security.MySimpleUrlAuthenticationSuccessHandler" />
-->




    <authentication-manager id="authenticationManager">
        <authentication-provider user-service-ref="userDetailsServiceImpl">
        <password-encoder ref="encoder"/>
        </authentication-provider>
    </authentication-manager>

    <beans:bean  id="applicationContextProvider"
          class="ua.nc.security.ApplicationContextProvider"/>
    <beans:bean id="encoder"
                class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>
    <beans:bean id="userDetailsServiceImpl"
                class="ua.nc.service.user.UserDetailsServiceImpl" depends-on="applicationContextProvider, encoder"/>

</beans:beans>