<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns="http://www.springframework.org/schema/security"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security.xsd">

    <global-method-security pre-post-annotations="enabled"/>
    <beans:bean id="feedbackPermissions" name="feedbackPermissions"
                class="ua.nc.security.FeedbackPermissions">
    </beans:bean>

    <http use-expressions="true">
        <csrf disabled="true"/>
        <intercept-url pattern="/error" access="permitAll"/>
        <intercept-url pattern="/login" access="permitAll" />
        <intercept-url pattern="/admin**" access="hasRole('ROLE_ADMIN')"/>
        <intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')"/>
        <intercept-url pattern="/interviewer**" access="hasAnyRole('ROLE_HR','ROLE_DEV','ROLE_BA')"/>
        <intercept-url pattern="/interviewer/**" access="hasAnyRole('ROLE_HR','ROLE_DEV','ROLE_BA')"/>
        <intercept-url pattern="/profile**"
                       access="hasAnyRole('ROLE_ADMIN','ROLE_HR','ROLE_DEV','ROLE_BA','ROLE_STUDENT')"/>
        <intercept-url pattern="/profile/**"
                       access="hasAnyRole('ROLE_ADMIN','ROLE_HR','ROLE_DEV','ROLE_BA','ROLE_STUDENT')"/>
        <intercept-url pattern="/account**"
                       access="isAuthenticated()"/>
        <intercept-url pattern="/account/**"
                       access="isAuthenticated()"/>


        <access-denied-handler error-page="/403"/>

        <form-login login-page="/login"
                    login-processing-url="/j_spring_security_check"
                    username-parameter="j_username" password-parameter="j_password"
                    authentication-failure-url="/login?error" />
             <!--       authentication-success-handler-ref="myAuthenticationSuccessHandler"-->

        <logout logout-url="/logout" logout-success-url="/login?logout"
                invalidate-session="true"/>
    </http>

<!--
    <beans:bean id="myAuthenticationSuccessHandler"
                class="ua.nc.security.MySimpleUrlAuthenticationSuccessHandler" />
-->




    <authentication-manager id="authenticationManager">
        <authentication-provider user-service-ref="UserDetailsServiceImpl">
            <password-encoder hash="bcrypt"/>
        </authentication-provider>
    </authentication-manager>

    <beans:bean id="UserDetailsServiceImpl"
                class="ua.nc.service.user.UserDetailsServiceImpl">
    </beans:bean>

</beans:beans>